/*
Git Repo CSS
Project: On The Edge
Description: styling Git repository wiki
Author: PepeAmpere
Version: 0.1
License: CC BY-NC-SA
*/


/*
==================================================================================
*/

.myTitle {
	font-size:5px;
	color:blue;
}